body {
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #2a2a2a;
  box-sizing: border-box;
  padding: 0 20px;

  &__ul {
    display: flex;
    height: 100%;
  }

  &__li {
    list-style-type: none;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    &:hover {
      background: darken(#1192cd, 10%);
    }
  }
}

.active {
  background: #1192cd;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  //   background: red;
  width: 100%;
  height: 80vh;

  &__button-holder {
    display: flex;
    width: 750px;
    box-sizing: border-box;

    button {
      background: #1192cd;
      border: none;
      color: white;
      padding: 10px;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        background: darken(#1192cd, 10%);
      }
    }
  }

  &__sort-options {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }

  &__p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  &__span {
    font-weight: bold;
  }
}
